<!DOCTYPE html>
<html>
  <head>
    <title>BgJquery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar|Open+Sans" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </head>

  <body>

    <h1 class="head">The Food Project</h1>
    <h2 class="head">❤︎</h2>
    <%= yield %>
  </body>
</html>
